$dt-bg: papayawhip;
$txt-h:#24A3FF;
$hover:#F0145A;
$noactivehover:#F5F5FA;
$main-text:#FFFFFF;
$tab-color:#B3B3BA;
$tab-title-border-color:#FFFFFF4D;
$ar-color:#323264;
$foter-line:#E6E6F0;



//--------------Team page---------------//
$tnoactivehover:#F5F5FA;